

body {
	background-color: rgba(77, 77, 77, 0.95);
	background-repeat: none;
	background-size: cover;
	margin: 0;
}

.lightBoxInput {
	font-family: 'Muli', sans-serif;
	font-size: 0.5em;
	font-weight: 900;
	color: #fff;
	padding: 5px;
	margin: 5px;
	background-color: rgba(255, 255, 255, 0.1);
	border: 2px solid #fff;
}

.lightBoxBtn {
	font-family: 'Muli', sans-serif;
	font-size: 0.5em;
	font-weight: 900;
	color: #fff;
	padding: 5px;
	margin: 5px;
	border: 2px solid #fff;
	background-color: rgba(0, 0, 0, 0.3);;
	width: 40%;
	position: relative;
	float: right;
	margin-right: 5.5%;
	margin-top: 25px;
	text-align: center;
	text-decoration: none;
}

.lightBoxSelect {
	color: rgba(0, 0, 0, 1);
	font-family: 'Muli', sans-serif;
	font-size: 0.5em;
	font-weight: 900;
	padding: 5px;
	margin: 5px;
	background-color: rgba(255, 255, 255, 0.1);
	border: 2px solid #fff;
}
.plusBtn {
	font-family: 'Muli', sans-serif;
	font-size: 2.2vw;
	font-weight: 900;
	color: #fff;
	padding: 5px;
	margin: 5px;
}

.plusBtn:hover {
	cursor: pointer;
	color: #C9645E;
}

.button {
	font-family: 'Muli', sans-serif;
	font-size: 2.2vw;
	font-weight: 300;
	width: 16em;
	text-align: center;
	position: relative;
	border: 2px solid #fff;
	border-radius: 4px;
	padding: 5px;
	margin: 0.5em 0.5em 0.5em;
	background-color: rgba(77, 77, 77, 0.7);
	color: #fff;
}

.button:hover {
	border: 2px solid #C9645E;
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(77, 77, 77, 0.4);;
    cursor: pointer;
}

.form {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	font-size: 2.2vw;
	color: #fff;
	opacity: 0;
	display: none;
	margin-left: 32%;
    margin-top: 2em;
    margin-right: 32%;
}

.form input {
	font-family: 'Muli', sans-serif;
	font-size: 2.2vw;
	font-weight: 300;
    width: 16em;
    text-align: center;
    position: relative;
	border: 2px solid #fff;
	border-radius: 4px;
	padding: 0.15em;
	margin: 0.5em 0.5em 0.5em;
	background-color: rgba(77, 77, 77, 0.7);
	color: #fff;
}

.form input:hover {
	border: 2px solid #C9645E;
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(77, 77, 77, 0.4);;
    cursor: pointer;
}

.form input:focus {
	border: 2px solid #C9645E;
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(77, 77, 77, 0.4);;
    cursor: pointer;
    outline: none;
}

.topBar {
	top: 1em;
	position: absolute;
	background-color: rgba(77, 77, 77, 0.95);
	font-family: 'Muli', sans-serif;
	font-weight: 700;
	font-size: 1.5vw;
	color: #fff;
	height: 3.5em;
	width: 100%;
	margin: 0;
	z-index: 1;
}

.brand {
	position: relative;
	float: left;
	margin-left: 1em;
	margin-top: 1em;
	font-size: 1.7vw;
}

.currentHack {
	position: absolute;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1em;
	width: 700px;
	font-size: 1.7vw;
	font-weight: 300;
	color: #fff;
}

.hack {
	font-weight: 900;
	color: #C9645E;
}

.topRight {
	position: absolute;
	margin-left: 55%;
	margin-right: 55%;
	margin-top: 1em;
	width: 275px;
	font-size: 1.7vw;
	font-weight: 300;
}

.clock {
	position: relative;
    float: right;
    font-size: 1.5vw;
    font-weight: 300;
    margin-top: 1em;
    margin-right: 0.5em;
}

.logOut {
	float: right;
	position: realtive;
	margin-top: 2em;
	margin-bottom: 1em;
	margin-right: 1em;
	width: 6em;
}

.username {
	font-weight: 900;
	color: #C9645E;
}

.username:hover {
	color:#C9645E;
	cursor: pointer;
}

.one {
	font-weight: 300;
}

.two {
	font-weight: 900;
	color: #C9645E;
}

.btn {
	border: 2px solid #fff;
	border-radius: 4px;
	padding: 5px;
}

.btn:hover{
	border: 2px solid #C9645E;
	color: #C9645E;
	cursor: pointer;
}

.pageCont {
	position: relative;
	top: 2em;
	width: 100%;
	height: 0.8em;
	border: 0px solid #fff;
	font-family: 'Muli', sans-serif;
	font-weight: 700;
	font-size: 2vw;
	color: #fff;
}

.line {
	height: 0px;
	width: 100%;
	margin-top: 2em;
	margin-bottom: 1.25em;
	padding: 0;
	border: 1px solid #C9645E;
}

.line2 {
	background-color: #fff;
	height: 0px;
	width: 15%;
	margin-top: 1em;
	margin-bottom: -2em;
	margin-left: 2.5%;
	margin-right: 2.5%;
	padding: 0;
	border: 1px solid #C9645E;
}

.hackathonCont {
	font-size: 1.5vw;
	width: 16%;
	margin-top: 6%;
	font-weight: 300;
}

.hackathonCont li {
	text-align: center;
	width: 100%;
}
.hackathonCont ul li {
	border: 2px solid #fff;
	border-radius: 4px;
	padding: 3%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 3%;
	margin-right: 3%;
	background-color: rgba(77, 77, 77, 0.7);
	list-style-type: none;
}

.hackathonCont ul li:hover {
	border: 2px solid #C9645E;
	color: rgba(255, 255, 255, 0.85);
	background-color: rgba(77, 77, 77, 0.4);;
	cursor: pointer;
}

.categories {
	width: 12%;
	height: 2%;
	border: 1px solid #fff;
	padding: 1em;
	margin-left: 3%;
	margin-right: 3%;
	text-align: left;
}

.categories ul li {
	list-style-type: none;
	margin-bottom: 1.25em;
}

.categories ul li:hover {
	border-bottom: 0.25em solid #C9645E;
	margin-bottom: 1em;
}

.gallery {
	font-size: 1vw;
	width: 58.5%;
	position: relative;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 18.75%;
	margin-right: 18.75%;
}

.header {
	font-family: 'Muli', sans-serif;
	font-weight: 900;
	font-size: 4vw;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	padding-right: 3%;
}



.item {
	width: 15em;
	height: 15em;
	/*background-color: rgba(255, 255, 255, 0.2);*/
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
	margin-right: 1%;
	float: right;
	position: relative;
	border: .125em solid #fff;
	border-radius: .125em;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	font-size: 0.85vw;
	color: #fff;
}

.item figcaption h2,
.item figcaption p {
	background-color: rgba(255, 255, 255, 0.2);
}

.item:hover {
	background-color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
}

.profile {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	font-size: 1.5vw;
	color: #fff;
	width: 9em;
	height: 100%;
	position: relative;
	float: right;
	margin-right: 3%;
	margin-left: 3%;
	top: 1.75em;
	text-align: center;
	background-color: rgba(77, 77, 77, 1);
	border: 3px solid #fff;
	border-radius: 4px;
	padding: 0.5em 0.7em 0.5em 0.5em;
}

.itemSmall {
	width: 3.5em;
	height: 3.5em;
	/*background-color: rgba(255, 255, 255, 0.2);*/
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 4%;
	margin-right: 4%;
	float: right;
	position: relative;
	background-size: cover;
	border: .1em solid #fff;
	border-radius: .1em;
	align: center;
}

.itemSmall:hover {
	opacity: 0.7;
	cursor: pointer;
}

.fadeIn {
	-webkit-animation: fadeIn 0.7s infinite;
	animation: fadeIn 0.7s infinite;
	-o-animation: fadeIn 0.7s infinite;
	-moz-animation: fadeIn 0.7s infinite;
}

.fadeOut {
	-webkit-animation: fadeOut 0.7s infinite;
	animation: fadeOut 0.7s infinite;
	-o-animation: fadeOut 0.7s infinite;
	-moz-animation: fadeOut 0.7s infinite;
}


@-webkit-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}


@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}



