figure {
	width: 29%;
	height: 300px;
	/*background-color: rgba(255, 255, 255, 0.2);*/
	margin: 0.65em 0.65em 1em 0.65em; 
	float: right;
	position: relative;
	background-image: url('hackfsuShirt.jpg');
	background-size: cover;
	border: 4px solid #fff;
	border-radius: 2px;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #fff;
}

figure.zoe figcaption {
	padding: 1em;
	height: 20em;
	opacity: 0;
	background: rgba(255, 255, 255, 0.5);
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-25%,0);
	transform: translate3d(0,-25%,0);

	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;

}

figure.zoe figcaption:hover {
	/*height: 10em;*/

}

figure.zoe h2 {
	float: left;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	color: #fff;
}

figure.zoe figcaption > span {
	float: right;
	font-weight: 900;
}

figure.zoe p {
	position: absolute;
	color: #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.zoe h2,
figure.zoe figcaption > span {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}


figure.zoe h2 {
	display: inline-block;
}

figure.zoe:hover p {
	opacity: 1;
}

figure.zoe:hover figcaption,
figure.zoe:hover h2,
figure.zoe:hover figcaption > span {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: 1;
}

figure.zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.zoe:hover figcaption > span:nth-child(4) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.zoe:hover figcaption > span:nth-child(3) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover figcaption > span:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

figure.zoe h2 {
	display: inline-block;
}

figure.zoe:hover p {
	opacity: 1;
}

figure.zoe:hover figcaption {
	opacity: 1;
}

figure.zoe:hover figcaption,
figure.zoe:hover h2,
figure.zoe:hover figcaption > span {
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	opacity: 1;
}

figure.zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.zoe:hover figcaption > span:nth-child(4) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.zoe:hover figcaption > span:nth-child(3) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.zoe:hover figcaption > span:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}