

body {
	background-color: rgba(77, 77, 77, 0.95);
	background-repeat: none;
	background-size: cover;
	margin: 0;
}

.topBar {
	top: 1em;
	position: absolute;
	background-color: rgba(77, 77, 77, 0.95);
	font-family: 'Muli', sans-serif;
	font-weight: 700;
	font-size: 1.5vw;
	color: #fff;
	height: 100px;
	width: 100%;
	margin: 0;
	z-index: 1;
}

.brand {
	position: relative;
	margin: 28px;
	font-size: 1.7vw
}


.logOut {
	float: right;
	position: realtive;
	margin: 0.6em 0.8em 0.6em 0.8em;
	margin-left: 40%;
	margin-right: 40%;
	z-index: 2;
}

.topRight {
	position: relative;
	float: right;
	margin-left: 60%;
	margin-right: 60%;
	margin-top: 15px;
	z-index: 2;
}

.username:hover {
	color:#C9645E;
	cursor: pointer;
}

.one {
	font-weight: 300;
}

.two {
	font-weight: 900;
	color: #C9645E;
}

.btn {
	border: 2px solid #fff;
	border-radius: 4px;
	padding: 5px;
}

.btn:hover{
	border: 2px solid #C9645E;
	color: #C9645E;
	cursor: pointer;
}

.pageCont {
	position: relative;
	top: 0.6em;
	width: 97%;
	height: 20px;
	border: 0px solid #fff;
	font-family: 'Muli', sans-serif;
	font-weight: 700;
	font-size: 2vw;
	color: #fff;
}

.hackathonCont {
	font-size: 1em;
	width: 50%;
	margin-top: 3em;
	font-weight: 300;
}

.hackathonCont ul li.line {
	background-color: #fff;
	height: 0px;
	width: 274px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 0;
	border: 1px solid #C9645E;
}

.hackathonCont li {
	text-align: center;
	width: 30%;
}
.hackathonCont ul li {
	border: 2px solid #fff;
	border-radius: 4px;
	padding: 5px;
	margin: 0.5em 0.5em 0.5em;
	background-color: rgba(77, 77, 77, 0.7);
	list-style-type: none;
}

.hackathonCont ul li:hover {
	border: 2px solid #C9645E;
	color: rgba(255, 255, 255, 0.85);
	background-color: rgba(77, 77, 77, 0.4);;
	cursor: pointer;
}

.categories {
	width: 12%;
	height: 10em;
	border: 1px solid #fff;
	padding: 1em;
	margin-left: 0.5em;
	text-align: left;

}

.categories ul li {
	list-style-type: none;
	margin-bottom: 20px;
}

.categories ul li:hover {
	border-bottom: 3px solid #C9645E;
	margin-bottom: 17px;
}

.gallery {
	font-size: 1em;
	width: 60%;
	position: relative;
	float: right;
	margin-right: 4.5%;
	margin-left: 4.5%;
	margin-top: 13.5em;
}

.header {
	font-family: 'Muli', sans-serif;
	font-weight: 900;
	font-size: 4em;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	padding-right: 50px;
}

.line {
	width: 100%;
	height: 3px;
	border-radius: 4px;
	background-color: #fff;
	border-color: #fff;
}

.item {
	width: 29%;
	height: 300px;
	/*background-color: rgba(255, 255, 255, 0.2);*/
	margin: 0.65em 0.65em 1em 0.65em;
	float: right;
	position: relative;
	background-image: url('hackfsuShirt.jpg');
	background-size: cover;
	border: 4px solid #fff;
	border-radius: 2px;
}

.item:hover {
	background-color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
}

.profile {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	font-size: 2em;
	color: #fff;
	width: 15%;
	height: 20em;
	position: relative;
	float: right;
	margin-right: 0.5em;
	top: 7em;
	text-align: center;
	background-color: rgba(77, 77, 77, 1);
	border: 3px solid #C9645E;
	border-radius: 4px;
	padding: 0.5em 0.7em 0.5em 0.5em;
}

.itemSmall {
	width: 30%;
	height: 70px;
	/*background-color: rgba(255, 255, 255, 0.2);*/
	margin: 0.65em 0.65em 1em 0.65em;
	float: right;
	position: relative;
	background-image: url('hackfsuShirt.jpg');
	background-size: cover;
	border: 4px solid #fff;
	border-radius: 2px;
	align: center;
}

.itemSmall:hover {
	opacity: 0.7;
	cursor: pointer;
}