

body {
	background-color: rgba(77, 77, 77, 0.95);
	background-repeat: none;
	background-size: cover;
	margin: 0;
}

.topBar {
	top: 1em;
	position: absolute;
	background-color: rgba(77, 77, 77, 0.95);
	font-family: 'Muli', sans-serif;
	font-weight: 700;
	font-size: 1.5vw;
	color: #fff;
	height: 100px;
	width: 100%;
	margin: 0;
	z-index: 1;
}

.brand {
	position: relative;
	margin: 28px;
	font-size: 1.7vw
}


.logOut {
	float: right;
	position: realtive;
	margin: 0.6em 0.8em 0.6em 0.8em;
	z-index: 2;
}

.topRight {
	position: relative;
	float: right;
	margin: 0.8em;
	z-index: 2;
}

.username:hover {
	color:#C9645E;
	cursor: pointer;
}

.one {
	font-weight: 300;
}

.two {
	font-weight: 900;
	color: #C9645E;
}

.btn {
	border: 2px solid #fff;
	border-radius: 4px;
	padding: 5px;
}

.btn:hover{
	border: 2px solid #C9645E;
	color: #C9645E;
	cursor: pointer;
}

.pageCont {
	position: relative;
	top: 0.6em;
	width: 97%;
	height: 20px;
	border: 0px solid #fff;
	font-family: 'Muli', sans-serif;
	font-weight: 700;
	font-size: 36px;
	color: #fff;
}

.hackathonCont {
	position: relative;
	width: 50%;
	max-height: 15%;
}

.hackathonCont li {
	text-align: center;
	width: 30%;
}
.hackathonCont ul li {
	border: 2px solid #fff;
	border-radius: 4px;
	padding: 5px;
	margin: 0.5em 0.5em 0.5em;
	background-color: rgba(77, 77, 77, 0.7);
	list-style-type: none;
}

.hackathonCont ul li:hover {
	border: 2px solid #C9645E;
	color: rgba(255, 255, 255, 0.85);
	background-color: rgba(77, 77, 77, 0.4);;
	cursor: pointer;
}

.categories {
	width: 12%;
	height: 10em;
	border: 1px solid #fff;
	padding: 1em;
	margin-left: 0.5em;
	text-align: left;

}

.categories ul li {
	list-style-type: none;
	margin-bottom: 20px;
}

.categories ul li:hover {
	border-bottom: 3px solid #C9645E;
	margin-bottom: 17px;
}

.gallery {
	width: 60%;
	border: 1px solid #fff;
	position: relative;
	float: right;
	margin-right: 4.5%;
	margin-left: 4.5%;
}

.item {
	width: 200px;
	height: 200px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0.45em 0.45em 0.45em 0.45em;
	float: right;
	position: relative;
}

.item:hover {
	background-color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
}

.profile {
	width: 15%;
	height: 20em;
	border: 1px solid #fff;
	position: relative;
	float: right;
	margin-right: 0.5em;
	text-align: center;
}