body {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}

.clock {
	position: relative;
    float: right;
    font-size: 30px;
    margin-top: 1em;
    margin-right: 0.5em;
}

.welcometo {
	position: relative;
    width: 900px;
    height: 50px;
    font-size: 150px;
    top: 50%;
    left: 50%;
    margin-left: -2.4em;
    margin-top: 0.4em; 
}

.swagswap {
	position: relative;
    width: 750px;
    height: 50px;
    font-size: 200px;
    top: 50%;
    left: 50%;
    margin-left: -2.5em;
    margin-top: 0.4em; 
}

.description {
	position: relative;
    width: 800px;
    height: 50px;
    font-size: 36px;
    top: 50%;
    left: 50%;
    margin-left: -9.4em;
    margin-top: 5.5em; 
}

.frontsignin {
	position: relative;
    width: 500px;
    height: 50px;
    font-size: 24px;
    top: 50%;
    left: 50%;
    margin-left: -5em;
    margin-top: 10em; 
}
