/*---------------*/
/***** Zoe *****/
/*---------------*/

.item figcaption {
	padding: 1em;
	height: 1em;
	background: #fff;
	color: #3c4a50;
	font-size: 1vw;
	font-family: 'Muli', sans-serif;
	opacity: 0;

	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;

	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.item h2 {
	float: left;
	font-weight: 300;
}

.item h2 span {
	float: right;
	position: relative;
	font-weight: 900;
}
.item p {
	position: absolute;
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.item h2,
.item figcaption > span {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

.item figcaption > span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

.item h2 {
	display: inline-block;
}

.item:hover p {
	opacity: 1;
}

item:hover figcaption {
	opacity: 1;
}

.item:hover figcaption,
.item:hover h2,
.item:hover figcaption > span {
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	opacity: 1;
}

.item:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.item:hover figcaption > span:nth-child(4) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.item:hover figcaption > span:nth-child(3) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.item:hover figcaption > span:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}